@media screen and (max-width: 1250px) {
    .gallery {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .gallery div {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .gallery div img {
        width: 50vw;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .gallery-contant {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gallery-contant h1 {
        font-family: var(--title);
        font-size: 3em;
        color: #7c9bb1;
        -webkit-text-stroke: 2px white;
    }
    .gallary-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gallary-view img {
        width: 60vw;
        padding: 30px;
        border-radius: 18vw;
    }
}

@media screen and (max-width: 700px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .left-nav {
        font-family: var(--general);
        display: flex;
        flex-direction: column;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .left-nav img {
        margin-right: 0px;
    }
}

@media screen and (max-width: 400px) {
    .left-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
    .left-nav ul li {
        margin: 5px;
        list-style: none;
    }
    .search-bar {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .left-main-content {
        display: flex;
        font-size: 1em;
        font-family: var(--general2);
        justify-content: center;
        text-align: center;
        word-wrap: break-word;
        margin: 10px 0px;
    }
    .right-main-content img {
        width: 50vw;
        justify-content: center;
        align-items: center;
        border-radius: 25vw;
        margin: 10px 0;
    }
    header h1 {
        font-size: 3em;
    }
    header h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 300px) {
    .left-main-content {
        font-size: 0.8em;
    }
}