* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: #7c9bb14f url(../img/bg-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #7c9bb1;
}

.nav-bar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: #7c9bb18e;
    padding: 10px 60px;
}

.left-nav {
    font-family: var(--general);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav img {
    width: 50px;
    border: 3px solid #5b8caf;
    border-radius: 15vw;
    margin-right: 30px;
}

.left-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav ul li {
    margin: 20px;
    font-size: 1.5em;
    list-style: none;
}

.left-nav ul li a {
    text-decoration: none;
    color: white;
    /* color: #5989ad; */
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    font-size: 0.8em;
    border-radius: 15vw;
    border: 2px solid white;
    padding: 6.5px 10px;
    margin: 0 10px;
}

.search-btn {
    background: transparent;
    color: white;
    border: 2px solid white;
}

.search-btn:hover {
    background: #7c9bb1;
    color: white;
    border: 2px solid white;
}

.content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    text-align: center;
    justify-content: center;
}

header h1 {
    color: #7c9bb1;
    font-size: 6em;
    -webkit-text-stroke: 2px white;
    font-family: var(--title);
}

header h3 {
    color: #7c9bb1;
    font-size: 2em;
    -webkit-text-stroke: 0.1px white;
    font-family: var(--subtitle);
}

.main-content {
    height: 100%;
    text-align: center;
    background-color: var(--content-bgcolor);
    justify-content: center;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    border-radius: 12px;
    border: 2px solid white;
}

.main-content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px 12px 0 0;
}

.left-main-content {
    display: flex;
    font-size: 1.3em;
    font-family: var(--general2);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 60px;
    color: white;
    word-wrap: break-word;
}

.right-main-content img {
    width: 20vw;
    justify-content: center;
    align-items: center;
    border-radius: 15vw;
    border: 3px solid white;
    margin: 0px 60px;
}

.gallery {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.gallery div {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
}

.gallery img {
    display: flex;
    width: 20vw;
    margin: 50px 50px;
    border: 2px solid white;
    border-radius: 1vw;
}

.gallery-contant {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link a {
    color: #7c9bb1;
    text-decoration: none;
    -webkit-text-stroke: 2px white;
}

.gallery-contant h1 {
    font-family: var(--title);
    font-size: 3.5em;
}

.gallary-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallary-view img {
    width: 20vw;
    padding: 30px;
    border-radius: 4vw;
}

.about-products {
    justify-content: center;
    text-align: center;
}

.about-products h1 {
    font-family: var(--title);
    font-size: 3.5em;
    -webkit-text-stroke: 2px white;
    color: #7c9bb1;
}

.about-content {
    font-family: var(--general2);
    font-size: 1.2em;
    color: white;
    padding: 3vw 5vw;
}

footer {
    color: white;
    display: flex;
    justify-content: end;
}

.cpr {
    font-size: 0.9em;
    justify-content: end;
    /* display: flex; */
    margin-left: 41vw;
    font-family: var(--general2);
}

.suppot-img {
    justify-content: right;
    margin-left: 34vw;
    display: flex;
}

.suppot-img img {
    width: 30px;
    margin: 0 3px;
    border-radius: 1vw;
}