@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
:root {
    --general: "Roboto", sans-serif;
    --general2: "Fira Sans", sans-serif;
    --title: "Noto Serif", serif;
    --subtitle: "Berkshire Swash", cursive;
    --font-color: white;
    --content-bgcolor: #7c9bb188;
    --content-bgcolor2: #3f2a148f;
    /* #7c9bb188; */
    /* #3f2a148f; */
    /* --------- */
    /*  #7c9bb1*/
}

.m-width1 {
    max-width: 90vw;
}
.m-width2 {
    max-width: 50vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 5px 5px;
    font-size: 0.9em;
    font-family: var(--title);
    border-radius: 15vw;
}

.bg {
    height: 100%;
    text-align: center;
    background-color: var(--content-bgcolor);
    justify-content: center;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    border-radius: 12px;
    border: 2px solid white;
}

.bg2 {
    height: 100%;
    text-align: center;
    background-color: var(--content-bgcolor2);
    margin-top: 32px;
    padding: 9px;
    position: relative;
}